<?xml version="1.0" encoding="UTF-8"?>
<config>
    <env type ="test">
        <usernameIngestion>dsupload@comtrade.com</usernameIngestion>
        <passwordIngestion>Forensixx1234</passwordIngestion>
        <dateFrom>0</dateFrom>
        <dateTo>2020-03-31T22:10:00Z</dateTo>
        <urlGETLast>https://forensixxapitest.azurewebsites.net/v1/asset/assetId/datasource/last</urlGETLast>
        <token>Bearer -kQARIVzi4RkjMbcyzn1q0lUsYxlmubLMXcR00jCNfYJ55SVOiX8rniLSzHMdCQ3SvhXn51KcMPh8fkLmnH2GCz6obGsnVjN1Tg4mgBVIKWMC_1jnEVgGrjj_Gn94TfwUZ6xJER0gU7C8zLrvpBDM8cYH6zrmghAMiVnJXTP5VlIZARypitnUNb4tfoeIY8xo1U_MJVI1X_EYduPMnFh2fj6Wgby3DXd45O01WHyZpNoNp8UQmHs8OmBGj-SgW3uRQ2vf6kx3jKbkJVdyIC8kR4VYPwo-vrmkOnOxi1sdasDaaz2hg-d2k_FpRnM7-g5YixMHV4F2jx87ufZGn8Ojtn6yZxXAwMhP1TGaIdKdjpcerrnZ2a9NzqNSTYOKaUqygv2FhWGPahdLK0l5QeSJ2PsAQdQJWuxWAIYVnJEcD4ui418bXdn0qC5lY4y4WB7</token>
    </env>
</config>
