<?xml version="1.0" encoding="UTF-8"?>
<config>
    <env type ="test">
        <usernameIngestion>dsupload@comtrade.com</usernameIngestion>
        <passwordIngestion>Forensixx1234</passwordIngestion>
        <dateFrom>0</dateFrom>
        <dateTo>2020-03-31T22:10:00Z</dateTo>
        <urlGETLast>https://forensixxapitest.azurewebsites.net/v1/asset/assetId/datasource/last</urlGETLast>
        <token>Bearer f2JFse-KGRRR6AdL0QH83Q8Ll7-bGM7CKvvGwYjPuHUyJw0JnlYOghP8y0XTGEDfQymW4dYort4m8e1Jcxfs0oOZme8-0_K2ox3rv4RcetfWgvv2dQUBGqgc3EdlAoL7AaCTiUjFfXa2MDKiZ1lJkJ1RVsojFkf9B1xw2h_xWBfAs1CJHUv9sQXWY2zXOuucUrDaBpcowfKn3yPMwJNfPxywtLnswldb1v8Xa2iL7QgHjAiPZY7Rx7KoWwLfzFW0SLieqyK2YlcTDQq6baScfmIf4JrnstJMOUfa4UX1hkvq4QDoUw8xitwSsxP4mp7LodK6yXzv3ItIRVdAxtIP6NMFRxyr_Pv01qsIS4CKwNRHcouSfBy09zvE6mIZ85Dt_gjquiqHhTEoo9tzPRwDYPiRAAahQcH3uyvG-eTT6iQF46uNfHv82EpxDvKQTi_h</token>
    </env>
</config>
